<div class="page-header">
  <h3>Organizer #<%= @organizer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @organizer.name %></dd>

      <dt>Url</dt>
      <dd><%= @organizer.url %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/organizers" class="btn btn-primary">
        Back
      </a>
      <a href="/organizers/<%= @organizer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_organizer/<%= @organizer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
