
<div class="row">
 <div class="col-md-8 col-md-offset-2">
   <hr>
   <a href="/events/" class="btn btn-default btn-block">
     <i class="fa fa-chevron-left" aria-hidden="true"></i>
   </a>
   <hr>
 </div>
</div>
<div class="row">
 <div class="col-md-8 col-md-offset-2">
   <h3 class="media-heading"> My Likes</h3>
   <br>
 </div>
</div>
<% @event.each do |event| %>
  <% if event.fans.where(:id => current_user.id).exists? %>


<div class="row" id="<%=event.id%>">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="/events/<%=event.id%>"><%=event.event_date.strftime("%A %m/%d at %l:%M%p")%></a>
        </h4>
      </div>
      <%if event.image_url != nil%>
      <div class="panel-body">
        <a href="/events/<%=event.id%>">
          <img src="<%=event.image_url%>" class="img-responsive"></img>
        </a>
      <%end%>
      <ul class="media-list">
        <li class="media">
          <div class="media-body">
            <h5 class="media-heading">
              <a href="/events/<%=event.id%>"><%=event.event_name%></a>
              <small>
                Event in <%=distance_of_time_in_words(Time.now, event.event_date)%>
              </small>
            </h5>
            Hosted by <a href="/organizers/<%=event.organizer.id%>"><%=event.organizer.name%></a>
            <p>
            <li><b>URL: </b><%=event.url%></li>
            <li><b>Description: </b><%=event.description%></li>
            <%if event.location_address != nil %>
            <li><b>Location address: </b><i>Map of </i><a href="https://maps.google.com?q=<%=event.location_address%>"><%=event.location_address%></a></li>
            <li><b># of active posts:  <%=Post.where(:event_id => event.id, active: true).count%></b> (<a href="/events/<%=event.id%>"><i>Click here for list of posts </i></a>)</li>

            <%end%>
            </p>
          </div>
        </li>
        <!--<p>-->
          <%if event.fans.where(:id => current_user.id).exists?%>
            <a href="/delete_like/<%=Like.find_by(:user_id => current_user.id, :event_id => event.id).id%>" class="btn btn-link" rel="nofollow">
              <i class="fa fa-heart"></i>
            </a>
          <%else%>

            <form action="/create_like" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <input type="hidden" name="event_id" value="<%=event.id%>">

              <input type="hidden" name="user_id" value="<%=current_user.id%>">
              <button class="btn btn-link">
                <i class="fa fa-heart-o"></i>
              </button>
            <%end%>
              <%
                 username_list = []
                 event.likes.each do |like|
                   username_list.push(like.user.username)
                 end
              %>
              <% if username_list.count == 1 %>
                <%= "#{username_list.to_sentence} likes this" %>
              <% elsif username_list.count > 1 %>
                <%= "#{username_list.to_sentence} like this" %>
              <% else %>
                <!-- do nothing if no one has liked the post so far -->
              <% end %>
            </form>
          </ul>
        </div>
      </div>
    </div>
  </div>
<%end%>
<%end%>
