<hr>
<div class="row" id="<%=@user.id%>">
  <div class="col-md-8 col-md-offset-2">
    <ul class="media-list">
      <li class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%=@user.username%>
            <small>
              Joined <%=distance_of_time_in_words(@user.created_at, Time.now)%> ago
            </small>
          </h4>

    <dl class="dl-horizontal">
      <%if @user.image_url != nil%>
      <dt></dt>
      <dd><img src="<%=@user.image_url%>"></img>
      <%end%>

      <dt>Email Address</dt>
      <dd><a href="mailto:<%= @user.email%>"><%= @user.email %></a></dd>

      <dt>Graduation Year</dt>
      <dd><%= @user.graduation_year %></dd>

      <dt>Number of posts</dt>
      <dd><%= @user.posts.count %></dd>

    </dl>

        </div>
      </li>
    </ul>
  </div>
</div>
