
<div class="row">
 <div class="col-md-8 col-md-offset-2">
   <hr>
   <a href="/events/new" class="btn btn-default btn-block">
     <i class="fa fa-plus"></i>
   </a>

   <hr>
 </div>
</div>

<% @events.each do |event| %>
<% if event.event_date-Time.now != 0%>
<div class="row" id="<%=event.id%>">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="/events/<%=event.id%>"><%=event.event_date.strftime("%A %m/%d at %l:%M%p")%></a>
        </h4>
      </div>
      <%if event.image_url != nil%>
      <div class="panel-body">
        <a href="/events/<%=event.id%>">
          <img src="<%=event.image_url%>" class="img-responsive"></img>
        </a>
      <%end%>
                <ul class="media-list">
                  <li class="media">
                    <div class="media-body">
                      <h5 class="media-heading">
                        <a href="/events/<%=event.id%>"><%=event.event_name%></a>
                        <small>
                          Event in <%=distance_of_time_in_words(Time.now, event.event_date)%>
                        </small>
                      </h5>
                      Hosted by <a href="/organizers/<%=event.organizer.id%>"><%=event.organizer.name%></a>
                      <p>
                      <%=event.description%>
                      </p>
                    </div>
                  </li>
                  <!--<p>-->
                    <%if event.fans.where(:id => current_user.id).exists?%>
                      <a href="/delete_like/<%=Like.find_by(:user_id => current_user.id, :event_id => event.id).id%>" class="btn btn-link" rel="nofollow">
                        <i class="fa fa-heart"></i>
                      </a>
                    <%else%>

                      <form action="/create_like" method="post">
                        <!-- Hidden input for authenticity token to protect from forgery -->
                        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                        <input type="hidden" name="event_id" value="<%=event.id%>">

                        <input type="hidden" name="user_id" value="<%=current_user.id%>">
                        <button class="btn btn-link">
                          <i class="fa fa-heart-o"></i>
                        </button>
                      <%end%>
                        <%
                           username_list = []
                           event.likes.each do |like|
                             username_list.push(like.user.username)
                           end
                        %>
                        <% if username_list.count == 1 %>
                          <%= "#{username_list.to_sentence} likes this" %>
                        <% elsif username_list.count > 1 %>
                          <%= "#{username_list.to_sentence} like this" %>
                        <% else %>
                          <!-- do nothing if no one has liked the post so far -->
                        <% end %>
                      </form>
  <!--</p>-->
                  <hr>
                  <h4>
                    Posts
                  </h4>
                </ul>

                <% if event.posts.count != 0 %>
                  <% event.posts.each do |post| %>
                    <% if post.active != false %>
                      <ul class="media-list">
                        <li class="media">
                          <div class="media-body">
                            <h6 class="media-heading">
                              <a href="/posts/<%=post.id%>"><%=post.user.username%></a>
                              <small><%=time_ago_in_words(post.created_at)%> ago</small>
                            </h6>
                            <ul class="media-list">
                              <li><b>Type:</b> <%=post.sell_buy%></li>
                              <li><b>Cost per ticket:</b> <%=number_to_currency(post.ticket_amount)%></li>
                              <li><b>Number of tickets:</b> <%=post.number_tickets%></li>
                              <li>

                                <!-- Display all of the post's comments -->
                                <% if post.comments.count > 0 %>
                                  <b>Comments:</b>
                                  <ul> <!-- Post comments list -->
                                    <% post.comments.each do |comment| %>
                                      <li><a href="/users/<%=comment.user.id%>"><%=comment.user.username%></a> <small><%= time_ago_in_words(comment.created_at)%> ago</small>: <%= comment.content %></li>
                                    <% end %>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">Submit a comment</div>
                                        <div class="panel-body">
                                        <form action="/create_comment" method="post">
                                          <!-- Hidden input for authenticity token to protect from forgery -->
                                          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                                          <input type="hidden" name="post_id" value="<%=post.id%>">
                                          <input type="hidden" name="user_id" value="<%=current_user.id%>">
                                          <div class="input-group">
                                            <input type="text" id="content" name="content" class="form-control" placeholder="Comment" required>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </ul> <!-- End of  post comments list -->
                                <% end %>

                              </li>
                            </ul>
                         </div>
                       </li>
                     </ul>
                    <%end%>
                  <%end%>
                <%else%>
                  <i>No posts submitted yet!</i>
                <%end%>

<!--                 <li class="media"> -->
                  <div class="panel panel-default">
                    <div class="panel-heading">Submit a post</div>
                      <div class="panel-body">
                      <form action="/create_post" method="post">
                        <!-- Hidden input for authenticity token to protect from forgery -->
                        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                        <input type="hidden" name="event_id" value="<%=event.id%>">

                        <input type="hidden" name="active" value="1">

                        <input type="hidden" name="user_id" value="<%=current_user.id%>">
                          <!-- Label and input for sell/buy -->
                            <div class="form-group">
                              <label for="sell_buy" class="sr-only">
                                Sell or Buy?
                              </label>

                              <div class="input-group">
                                <%= select_tag(:sell_buy, "<option>Sell</option><option>Buy</option>".html_safe, :class => "form-control", prompt: "Selling or buying tickets?") %>
                              </div>
                            </div>
                        <!-- Label and input for amount -->
                        <div class="form-group">
                          <label for="ticket_amount" class="sr-only">
                            Amount
                          </label>

                          <div class="input-group">
                            <input type="text" id="ticket_amount" name="ticket_amount" class="form-control" placeholder="Amount per ticket" required>
                          </div>
                        </div>
                        <!-- Label and input for number of tickets -->
                        <div class="form-group">
                          <label for="number_tickets" class="sr-only">
                            Number of tickets
                          </label>

                          <div class="input-group">
                            <input type="text" id="number_tickets" name="number_tickets" class="form-control" placeholder="Number of tickets" required>
                          </div>
                        </div>
                        <!-- Label and input for body -->
                        <div class="form-group">
                          <label for="content" class="sr-only">
                            Content
                          </label>

                          <div class="input-group">
                            <input type="text" id="content" name="content" class="form-control" placeholder="Description" required>

                            <span class="input-group-btn">
                              <button class="btn btn-default" type="submit">
                                <i class="fa fa-pencil-square-o"></i>
                              </button>
                            </span>
                          </div><!-- /input-group -->
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- </li> -->
                <!-- </ul> -->
      </div>
    </div>
  </div>
</div>
<%end%>
<%end%>
