<div class="page-header">
  <a href="/events/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
    </a>
</div>

<% @events.each do |event| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/events/<%=event.id%>"><%=event.event_name%></a>
          <small>
            <%=event.event_date.strftime("%A %m/%d at %l:%M%p")%>
          </small>
        </h3>
      </div>
      <%if event.image_url != nil%>
      <div class="panel-body">
        <a href="/events/<%=event.id%>">
          <img src="<%=event.image_url%>" class="img-responsive">
        </a>
      <%else%>
      <%end%>
        <p>
            <form action="/create_like" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <input type="hidden" name="event_id" value="<%=event.id%>">

              <input type="hidden" name="user_id" value="<%=current_user.id%>">

              <button class="btn btn-link">
                <i class="fa fa-heart-o"></i>
              </button>

              <%
                 username_list = []
                 event.likes.each do |like|
                   username_list.push(like.user.username)
                 end
              %>
              <% if username_list.count == 1 %>
                <%= "#{username_list.to_sentence} likes this" %>
              <% elsif username_list.count > 1 %>
                <%= "#{username_list.to_sentence} like this" %>
              <% else %>
                <!-- do nothing if no one has liked the photo so far -->
              <% end %>
            </form>
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/event/<%=event.id%>"><%=event.event_name%></a>
                <small>
                  Event in <%=distance_of_time_in_words(Time.now, event.event_date)%>
                </small>
              </h6>
              <%=event.description%>
            </div>
          </li>

  <% event.posts.each do |post| %>
    <% if post.active != 0 %>
      <ul class="media-list">
        <li class="media">
          <div class="media-body">
            <h6 class="media-heading">
              <a href="/posts/<%=post.id%>"><%=post.user.username%></a>
              <small>
                <%=time_ago_in_words(post.created_at)%> ago
              </small>
            </h6>
            <%=post.sell_buy%>
            <%=number_to_currency(post.ticket_amount)%>
            <%=post.number_tickets%>

            <%if current_user.post.ids.include? @post.id %>
            <div class="btn-group pull-right">
              <a href="/events" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>
              <a href="/posts/<%post.id%>/edit" class="btn btn-warning">
               <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_post/<%post.id%>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
            <%else%>
            <%end%>
          </div>
        </li>
      <%end%>


          <li class="media">
            <div class="media-body">
              <form action="/create_post" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                <input type="hidden" name="event_id" value="<%=event.id%>">

                <input type="hidden" name="active" value="1">

                <input type="hidden" name="user_id" value="<%=current_user.id%>">
                  <!-- Label and input for sell/buy -->
                    <div class="form-group">
                      <label for="sell_buy" class="sr-only">
                        Sell or Buy?
                      </label>

                      <div class="input-group">
                        <%= select_tag(:sell_buy, "<option>sell</option><option>buy</option>", :class => "form-control") %>
                      </div>
                    </div>
                <!-- Label and input for amount -->
                <div class="form-group">
                  <label for="ticket_amount" class="sr-only">
                    Amount
                  </label>

                  <div class="input-group">
                    <input type="text" id="ticket_amount" name="ticket_amount" class="form-control" placeholder="Amount per ticket" required>
                  </div>
                </div>
                <!-- Label and input for number of tickets -->
                <div class="form-group">
                  <label for="number_tickets" class="sr-only">
                    Number of tickets
                  </label>

                  <div class="input-group">
                    <input type="text" id="number_tickets" name="number_tickets" class="form-control" placeholder="Number of tickets" required>
                  </div>
                </div>
                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="content" class="sr-only">
                    Content
                  </label>

                  <div class="input-group">
                    <input type="text" id="content" name="content" class="form-control" placeholder="Description" required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                        <i class="fa fa-pencil-square-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%end%>
<%end%>
