<div class="row">
 <div class="col-md-8 col-md-offset-2">
   <hr>
   <a href="/events/" class="btn btn-default btn-block">
     <i class="fa fa-chevron-left" aria-hidden="true"></i>
   </a>
   <hr>
 </div>
</div>
<div class="row" id="<%=@post.id%>">
  <div class="col-md-8 col-md-offset-2">
    <ul class="media-list">
      <li class="media">
        <div class="media-body">
          <h3 class="media-heading">
            <%=@post.event.event_name%>
            <small>
              Event in <%=distance_of_time_in_words(Time.now, @post.event.event_date)%>
            </small>
          </h3>
          Hosted by <a href="/organizers/<%=@post.event.organizer.id%>"><%=@post.event.organizer.name%></a>
          <p>
            <dl class="dl-horizontal">

              <dt>Event date</dt>
              <dd><%= @post.event.event_date.strftime("%A %b %d, %Y at %l:%M%p") %></dd>

              <dt>User</dt>
              <dd><a href="/users/<%=@post.user.id%>"><%= @post.user.username %></a></dd>

              <dt>Content</dt>
              <dd><%= @post.content %></dd>

              <dt>Status</dt>
              <dd><%= @post.active %></dd>

              <dt>Type</dt>
              <dd><%= @post.sell_buy %></dd>

              <dt>Cost per ticket</dt>
              <dd><%=number_to_currency(@post.ticket_amount)%></dd>

              <dt>Number of tickets:</dt>
              <dd><%= @post.number_tickets %></dd>

            </dl>
          </p>
        </div>
      </li>
      <hr>
    </ul>
  </div>
</div>
